<button
  class="btn btn-primary mb-3"
  (click)="init()"
>Refresh</button>
<div
  class="row"
  *ngIf="loans$ | async as loans"
>
  <div
    *ngFor="let loan of loans"
    class="col-lg-6"
  >
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">User</h5>
        <p class="card-text">{{loan.userName}}</p>
        <h5 class="card-title">Book</h5>
        <p class="card-text">{{loan.bookName}}</p>
        <button
          (click)="return(loan.id)"
          class="btn btn-outline-primary"
        >Return</button>
      </div>
    </div>
  </div>
</div>
